body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  line-height: 1.5;
  margin:  5%;
  color: #FEF2BF;
}
.introduction{
  color: white;
  background-color: grey;
  width:50%;
  margin: auto;
  position: absolute;
  top:30%;
  left: 25%;
  padding: 20px;
  visibility: hidden;
}
span{
  position: absolute;
  right:0;
  top:0;
  cursor: pointer;
}
.container {
  display: block;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .button-container{
    width:50%;
    margin:auto;
    visibility:visible;
  }
  .button{
  background-color:#FEF2BF;
  width:50px;
  padding: 10px;
  margin:auto;
  cursor: pointer;
  visibility:visible;
}
#level-title{
  font-size:1.25rem;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 25vmin;
  width: 25vmin;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
